@import 'tailwindcss';
/***************************************
Global Styles
*****************************************/
*,
::before,
::after {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin-bottom: 10rem;
}

/***************************************
Tailwind Variables
*****************************************/
@theme {
  /* FONTS */
  --font-title: 'Fredoka', sans-serif;
  --font-paragraph: 'Lato', sans-serif;

  /* COLORS */
  --color-dark-main: #333333;
  --color-light-main: #f4f4f4;
  --color-muted: #777;
  --color-light-muted: #d7d7d7d7;
  /* PANDA */
  --color-panda-orange: #f9c74f;
  --color-panda-light: #fff7e2;
  --color-panda-green: #4d908e;
  --color-panda-blue: #a2c4e0;
  /* ZEBRA */
  --color-zebra-red: #ff5555;
  --color-zebra-light: #ffecd1;
  --color-zebra-cyan: #51bfc0;
  /* COW */
  --color-cow-blue: #418dc2;
  --color-cow-red: #ff8484;
  --color-cow-turquoise: #d6fff6;
  /* LEMUR */
  --color-lemur-purple: #9193f8;
  --color-lemur-orange: #ffba07;
  /* PENGUIN */
  --color-penguin-blue: #bde0fe;
  --color-penguin-yellow: #ffd166;
  /* SKUNK */
  --color-skunk-pink: #ffbbbd;
  --color-skunk-mint: #84dcc6;
}

/***************************************
Tailwind Custom Reusable Classes
*****************************************/
/* Flex & Grid */
.flex-evenly-center {
  @apply flex flex-row justify-evenly items-center;
}

.flex-start-center {
  @apply flex flex-row justify-start items-center;
}

.flex-center-center {
  @apply flex flex-row justify-center items-center;
}

.flex-between-center {
  @apply flex flex-row justify-between items-center;
}

.flex-col-start {
  @apply flex flex-col justify-center items-start;
}

.grid-two-four {
  @apply sm:grid sm:grid-cols-2 lg:grid-cols-4;
}

/* Image styles */
.img-full {
  @apply w-full h-full object-contain;
}

.img-cover {
  @apply h-full w-full object-cover;
}

.img-peek {
  @apply absolute h-20 -top-16 left-1/2 -translate-x-1/2;
}

.img-special {
  @apply hidden md:block md:absolute md:-top-20 md:-right-48 md:-rotate-12 md:opacity-30;
}

.img-product-seperator {
  @apply h-50 mx-auto my-10;
}

/* Widths */
.lg-max-width {
  @apply max-w-[1400px];
}

/* Spacing Stylings */
.inline-reg {
  @apply mx-4;
}

/* Font stylings */
.lato-p-light {
  @apply font-title font-light;
}

.fredo-p-light {
  @apply font-title font-light text-base;
}
.font-small-copy {
  @apply font-paragraph font-light text-dark-main;
}

.font-section-title {
  @apply font-title font-light tracking-wide uppercase text-2xl;
}

.font-price {
  @apply font-paragraph text-lg font-light text-dark-main;
}

.font-main-copy {
  @apply font-paragraph text-dark-main tracking-wide;
}

.fredo-title {
  @apply font-title font-semibold text-lg tracking-wide text-dark-main;
}

.font-question-card {
  @apply font-paragraph text-3xl font-light text-dark-main;
}

/* Wrappers */
.section-wrapper {
  @apply bg-light-muted w-full  px-4 py-6 md:max-w-[600px] md:mx-auto md:px-8 md:mb-8;
}
.two-btn-wrapper {
  @apply grid grid-cols-2 gap-4 my-2 max-w-[600px];
}

.home-lore-section-wrapper {
  @apply mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-4 md:mt-16;
}

.home-merch-section-wrapper {
  @apply mx-4 md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-4 md:mt-16;
}

.home-lore-card-wrapper {
  @apply grid grid-cols-5 gap-4 place-items-center px-4;
}

.guide-main-wrapper {
  @apply mx-4 mt-8 px-8 py-16 rounded-sm max-w-[1000px] relative md:mx-auto overflow-hidden;
}

.guide-info-wrapper {
  @apply w-[70vw] mx-auto mt-8 flex flex-col items-center justify-center max-w-[500px];
}

.top-three-wrapper {
  @apply grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3;
}

.product-section-wrapper {
  @apply border-b-4 border-double border-b-light-muted mx-4;
}

.product-filter-btn-wrapper {
  @apply px-4 gap-10 -mt-10 mb-20 z-50;
}

.product-items-display-wrapper {
  @apply md:grid md:grid-cols-2 md:gap-4 lg:grid-cols-3;
}

/* Tablet Nav */
.tablet-nav {
  @apply hidden md:flex md:mx-auto;
}

.tablet-nav-wrapper {
  @apply w-full text-dark-main;
}

.tablet-nav-item {
  @apply text-center lg:text-lg;
}

/* Footer Nav */
.footer-nav {
  @apply fixed bottom-0 w-full md:hidden;
}

.footer-nav-wrapper {
  @apply py-3 bg-dark-main text-light-main;
}

.footer-icon {
  @apply text-2xl;
}

/* btns */
.white-btn {
  @apply bg-light-muted px-2 py-1 rounded-xs text-dark-main font-title font-light hover:bg-muted hover:text-light-main hover:cursor-pointer hover:border-0 transition-all duration-200 ease-in-out;
}

.black-btn {
  @apply bg-dark-main px-2 py-1 text-light-main font-semibold rounded-xs hover:bg-muted hover:text-light-main hover:cursor-pointer  transition-all duration-200 ease-in-out;
}

.all-products-btn {
  @apply font-title font-semibold tracking-wider capitalize text-2xl border rounded-sm px-4 py-1 text-dark-main border-muted hover:bg-dark-main hover:text-light-main hover:cursor-pointer transition-all duration-200 ease-in-out;
}
